@import "../../utils/colours.scss";

.propertyViewContainer {
  width: 100%;
  padding: 20px 35px 35px;
  background-color: white;
  border-radius: 4px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    margin-top: 20px;
    height: 92%;

    &__content {
      .MuiTypography-root {
        padding: 3px 5px;
      }

      &__data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      &__chips {
        margin: 10px auto 2px;
      }
    }
  }
}
