@import '../../utils/colours.scss';

.propertyViewContainer {
  width: fit-content;
  padding: 20px 35px 35px;
  background-color: white;
  border-radius: 4px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    margin-top: 20px;
    height: 92%;

    &:first-of-type {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__content {
      width: 100%;
      height: 100%;
      padding: 30px;

      .MuiTypography-root {
        padding: 3px 5px;
      }

      &__data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      &__chips {
        margin: 10px auto 2px;
      }
    }
  }
}
