@import "../../utils/colors.scss";

.appBar {
  &.MuiAppBar-root {
    top: 0;
    background-color: $bg_base_color;
    box-shadow: none;
    width: calc(100vw - 290px);
    margin: 0 25px 10px;
  }

  &__title.MuiTypography-root {
    margin-left: 5%;
    padding: 15px 0;
    color: $text_base_color;
  }

  &__divider {
    &.MuiDivider-root {
      margin: auto 3%;
    }
  }
}
