@import "../../utils/colors.scss";

.drawer {
  display: block;

  & .MuiDrawer-paper {
    box-sizing: border-box;
    width: 230px;
    box-shadow: -4px 0px 5px black;
    color: $text_base_color;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px 5px 0px;
  }

  &__subheader.MuiTypography-root {
    text-align: left;
    color: black;
    margin: 20px 10px 5px 26px;
  }
}

.list__item {
  padding: 5px 10px;
  margin-right: -10px;
  & .MuiListItemIcon-root {
    color: black;
  }

  &__btn.MuiListItemButton-root {
    border-radius: 10px;

    &:hover,
    :focus {
      transition: 0.2s all;
      color: $text_menu_color;
      background-color: $bg_menu_color;

      & .MuiListItemIcon-root {
        color: $text_menu_color;
      }
    }
  }

  &__text .MuiListItemText-primary {
    font-weight: 400;

    &:hover,
    :focus {
      font-weight: 500;
    }
  }
}
