@import "./utils/colors.scss";

.box {
  background-color: $bg_base_color;
  height: 98vh;
  margin: 5px;
  border-radius: 5px;

  &__children {
    display: flex;
    justify-content: center;
    width: calc(100vw - 300px);
    margin: 20px;
    float: inline-end;
  }
}
