$bg_base_color: rgb(238 244 247);
$text_base_color: rgba(0, 0, 0, 0.804);

$bg_menu_color: #beddee9c;
$text_menu_color: #1f5678;

$box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3294117647);

$divider-color: rgba(0, 0, 0, 0.12);
