$bg_base_color: rgb(238 244 247);
$text_base_color: rgba(0, 0, 0, 0.804);

$bg_menu_color: rgba(190, 221, 238, 0.61);
$text_menu_color: rgb(31 86 120);

$box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3294117647);
