// colors
$bg_baseColor: rgb(238 244 247);
$text_baseColor: rgba(0, 0, 0, 0.804);

$bg_menuColor: #beddee9c;
$text_menuColor: #1f5678;

$box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3294117647);

$divider-color: rgba(0, 0, 0, 0.12);

$light_boxShadow: 0px 1px 5px #0000005e;
$light-borderBottom: 1px solid #0000001f;
$light_bgColor: #d5e0e729;

$light_pie_color: #61a2cb;
$medium_pie_color: #346584;
$dark_pie_color: #21445c;
////////////////////////////////
