@import "../../utils/styles.scss";

.ind {
  background-color: white;
  border-radius: 4px;

  &__title.MuiTypography-root {
    padding: 20px 30px 10px;
  }

  &__grids {
    padding: 20px 35px 35px !important;
    margin-right: -8%;
  }

  &__keys {
    &.MuiGrid2-root {
      padding: 10px 15px;
      box-shadow: $box-shadow;
      width: 22%;
      border-radius: 15px;
    }

    &__title {
      font-weight: 500;
      font-size: 14px;
      margin: 2px auto;
    }

    &__value {
      font-weight: bolder;
      font-size: x-large;
    }

    section {
      text-align: right;
      display: flex;
      flex-direction: column;
      margin-top: -15px;
    }

    &__percentage {
      color: $text_menuColor;
      font-weight: bold;
    }

    &__date {
      font-size: small;
    }
  }
}
